/*.add1
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 400px; height: 360px; 
	border: 3px solid #00bfff;
	border-radius: 8px; 
	margin:0 auto;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #bfffbf;
}
.btnad
{
	margin: 0 auto;
	width: 80px; 
	height: 30px; 
	border: 3px solid #73ff73; 
	border-radius: 8px;
}
.btnad:hover
{
	border: 4px solid #d90000;
	background-color: #000000;
	color: white;
}*/

.body1
{
	background-image: /*linear-gradient(to bottom, rgba(0,255,0,0.5), rgba(102,0,51,0.5)),*/
                  url('img/evi.jpg');
				  opacity: 200%;
	background-image: no-repeat;
	/*background: no-repeat;
	/*background-image: n-resize;*/
	margin-left:50px;
	margin-right: 50px;
	resize: horizontal;
	/*padding: 50px;*/
}




/*background-color: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));*/

.score, h1
{
	width:40%;
    margin:0 auto;
	    background-color: rgb(15,15,30);
    color:white;
    opacity: 1;
    cursor: default;
    font-weight: bold;
    position: sticky;
}

/*-----------------------------------------------------------------*/
.contener {
    width:90%;
    margin:0 auto;
    
}
.contener>h2 {
    width:90%;
    margin:0 auto;
    text-align: center;
    
}
.contener>form {
    width:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
}
.contener>form>div {
    width:90%;
    margin:10px auto;
    display:flex;
    justify-content: space-between;
}

.contener>form>div>input,.contener>form>div>textarea,.contener>form>div>select {
    width:60%;
}
.contener>form>div>label {
    width:30%;
}